body{
margin: 0;
padding: 0;
}


.nav-bar div, .nav-bar ul, .nav-bar div h1{
    display: inline-block;
    text-align: center;
    /* width: 31%;  */
}

.nav-bar div{
    width: 15%;
}

.nav-bar ul{
    width: 65%;
    text-align: right;
}

.nav-bar{
    /* border-bottom: 2px solid coral; */
    padding: 5px 0;
     font-size: small;
    font-weight: bold;;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
 } 

 .nav-bar li{
    display: inline-block;
    padding: 15px;
    text-align: center; 
}


a{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 70px;
    /* padding-left: 10px; */
}

.logo h1{
    margin: 0;
}

.nav-button button{
    background-color: coral;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;
}


#mybutton1{
    color: white;
    background-color: coral;
    border-radius: 2px;
    border: none;
    padding: 10px 30px 5px 25px;
}

#mybutton2{
    color: black;
    border-radius: 2px;
    border: none;
     padding: 10px 50px 5px 30px;
}


.banner-area div{
    text-align: center; 
    width: 40%;
    padding: 5% 0 0;
    /* border: 2px solid coral; */
    /* display: inline-block; */
    float: left;
    

}

.banner-area{
    width: 100%;
    background-image: url('background.jpeg');
}

 .banner-area div img{
    width: 93%; 
    padding-left: 40px;
    padding-top: 20px; 
    
}

 .banner-area div p{ 
    padding-left: 13.9%;
     text-wrap: wrap; 
     text-align: center;
     font-size: medium;
     word-wrap: normal;   
}

.banner-area div h2{ 
    font-size: 28px; 

}

.banner-area h4{ 
    color: coral;
   font-style: normal;
   font-size: small;
   padding-right: 33%;
   text-align: center;
} 

#button{
    padding-right: 37%;
    padding-top: 0%;
    bottom: unset;
    
}

.article{
    text-align: center;
    clear: left;
}

.article h3, .article h2{
    display: inline-block;
    text-align: center;
    width: 18%;
    padding-top: 2%;
    background-color: white;
}

.article h3{
    padding-right: 19%;
}

.article h2{
    padding-left: 10%;
    padding-right: 30%;
}


   